{% extends 'main.html' %}

{% block content %}
{% load static %}

<div class="container-xxl bg-white p-0">
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
  <!-- Spinner End -->

  {% include 'student/components/navbar.html' %}

  {% include 'student/components/header.html' %}

  {% include 'student/components/search.html' %}

  {% include 'student/components/contact.html' %}

  {% include 'student/components/footer.html' %}

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>
        
      
{% endblock %} 