@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --color-main: #000;
  --color-main-light: #e1f6fb;
  --color-dark: #fff;
  --color-dark-medium: #51546e;
  --color-dark-light: #00B98E;
  --color-light: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #2d2d39;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
}

/*========== base styles ==========*/


@media only screen and (min-width: 1200px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}


/*==============================
=>  Layout
================================*/

/*========== Layout Box ==========*/

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: absolute;
  left: 28%;
  
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 3%;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.layout__body {
  margin: 3rem;
}

.layout__body .input-label {
    font-size: 100%;
}

.layout__box .btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}
  
.layout__box  .btn--link {
    border-radius: 0;
    padding: 0;
    color: var(--color-dark-light);
    box-shadow: none;
}
  
.layout__box  .btn--link:hover {
    text-decoration: underline;
}
  
.layout__box  .btn--main {
    background-color: var(--color-dark-light);
    color: var(--color-dark);
}
  
.layout__box  .btn:hover {
    opacity: 0.9;
}
  
.layout__box  .btn--dark {
    background-color: var(--color-dark-light);
    color: var(--color-light);
}
  
.layout__box  .btn > svg {
    fill: currentColor;
    width: 1.6rem;
    height: 1.6rem;
}
  
.layout__box  .btn--pill {
    border-radius: 10rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 6px 2.5rem;
    color: var(--color-dark);
    background: transparent;
    border: 2px solid var(--color-main);
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }

  .layout--3 > .container > div:nth-child(2) {
    flex-basis: 100%;
  }
}

/*==============================
=>  Topics
================================*/

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-main);
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}


/*==============================
=>  Create Room
================================*/

.create-room.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Update Account
================================*/

.update-account.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Auth
================================*/

.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.8rem;
}
.auth .layout__boxHeader {
  text-align: center;
  justify-content: center;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}

/*==============================
=>  Settings
================================*/

.settings__avatar {
  margin-bottom: 3rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.settings__avatar .avatar {
  margin: 1rem;
}