{% load static %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" style="height: 500px;" src="{% static 'img/karachi.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                <p class="mb-4">Take the hassle out of securing your student home for the best years of your life. Time is money. Save both when you book with us. We promise to deliver what you see on the website.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Quick & easy bookings</p>
                <p><i class="fa fa-check text-primary me-3"></i>Price Match Guarantee</p>
                <p><i class="fa fa-check text-primary me-3"></i>100% Verified Listings</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->