        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
            <form action="{% url 'property' %}" method="GET">
                <div class="row g-2">
                    <div class="col-md-10">
                            {% csrf_token %}
                            <div class="row g-2">
                                <div class="col-md-4">
                                    <input style="width: 1000px;" type="text" name="q" class="form-control border-0 py-3" placeholder="Search by City, University or Property">
                                </div>
                                
                            </div>
                        
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100 py-3" type="submit">Search</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <!-- Search End -->